/* z-index works only with positions  */
/* start of global values */
:root {
    --main-color: #01bbed;
    --secondary-color: #1f2021;
    --font-color: #a8a8a8;
    --transparent-color:rgb(15 116 143 / 70%);
    
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    overflow-x: hidden;
    width: 100vw;
    
}
.main-header {
    margin: 60px 0px;
}

.main-header > h2 {
    font-weight: 300;
    font-size: 58px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    text-transform: uppercase;
}
.main-header > h2::before {
    content: "";
    position: absolute;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: calc(100% + 25px);
    border: 1px solid var(--secondary-color);
    background-color: white;
    z-index: 2;
}
.main-header > h2::after {
    content: "";
    position: absolute;
    width: 100px;
    right: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 2px;
    top: calc(100% + 30px);
    background-color: var(--secondary-color);
}
.main-header > h2 + p {
    text-align: center;
    color: #777;
    margin-top: 60px;
    margin-bottom: 30px;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width:767px) {
    
    .main-header > h2{
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
    }
}
.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* small */
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container {
        width: 1170px;
    }
}
/* end of global values */

/* start of header */
/* .header {
    background-color: #1f2021;
    height: 50px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header .container .image {
    width: 150px;
    height: 100%;
}
.header .container .image img{
    width: 100%;
    height: 100%;
}
.header .container .search {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container .search i {
    padding: 10px;
    border-radius: 2px;
    border-left: 1px solid white;
}
.header .container .links-container{
    flex:1;
    height: 100%;
}
.header .container .links-container .links {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;

}
.header .container .links-container .links .icon {
    display:  none;
}

.header .container .links ul {
    flex: 1;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    transform: translateY(-10%);
    height: 100%;
}

.header .container .links ul li {
    width: calc(96% / 6);
    height: 100%;
}
.header .container .links ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
@media (max-width:767px) {
    .header  .container{
        position: relative;
    }
    .header .container {
        justify-content: space-between;
    }
    .header .container .links-container{
     margin-left: auto;
     margin-right: auto;
    }
    .header .container .links {
        justify-content: flex-end;

    }
    .header .container .links-container .links .icon {
        display: block;
        justify-self: flex-end;
    }
    .header .container .links-container .links ul {
        display: none;
        flex-flow: column;
        width: 100vw ;
      position: absolute;
      top: calc(50% + 25px);
      left: calc(50% - 20px);
      transform: translateX(-50%); 
      margin-top: 0px;
      margin-bottom: 0px;
     
    }
    .header .container .links-container .links ul li {
        width: 100%;
        padding: 10px;
        background-color: var(--main-color);
    }
    
    .header .container .links-container .links ul li a {
        justify-content: flex-start;
    }

    .header .container .links-container .links:hover  ul{
        display: flex;
    }


}





 */
/* end of header */
/* start of header test */

/* end of header test */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 120px;
}
.header .container::before {
    content: "";
    background-color: white;
    height: 1px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    left: 10px;
    
}
.header .container .logo img {
    height: 40px;
    
}
.header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header nav .toogle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width:768px){
    .header nav .toogle-menu {
        display: none;
    }
}
.header .container nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
}
@media (max-width:767px){
    .header .container nav ul {
        display: none;
    }
    .header .container nav .toogle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0px;
        background: transparent;
        width: 100%;
    }
    .header .container nav .toogle-menu + ul a {
        padding: 15px !important;
    }

}
.header .container nav ul li a{
    display: block;
    padding: 50px 10px;
    color: white;
    transition: 0.3s;
}
.header .container nav ul li a.active ,
.header .container nav ul li a:hover{
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 1;
}

  .header nav .form {
    margin-left: 40px;
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid white;
}
.header nav .form i {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 20px;
  }

/* end of header */


/* start of landing */

.landing .slider {
display: flex; 
width: 300vw;
transform: translateX(0vw);
transition: 0.3s;
}
.landing .slider .slide:nth-child(2) {
    background-image: url("../images/elzero/landing.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing .slider .slide:nth-child(3) {
    background-image: url("../images/owl-g6ab2f158a_1920.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing .slider .slide:nth-child(4) {
    background-image: url("../images/bird-g00d1d5c39_1920.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing{
overflow: hidden;
    background-color: black;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px 150px;
}
.pros .overlay, 
.landing .overlay{
    background-color: rgba(0, 0, 0, 0.647);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
 
.landing .text {
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    padding: 50px;
    color: white;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.landing .text .content {
    max-width: 70%;
}
.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal ;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p {
    line-height: 2;
    font-weight: normal;
    font-size: 14px;
}
.landing .change-background {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    z-index: 1000;
}
.landing .change-background:first-of-type{
    left: 30px;
    transform: translateY(-50%);
}
.landing .change-background:last-of-type{
    right: 40px;
}
.landing .bullet {
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;    
}
.landing .bullet span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 5px;
}
.landing .bullet .active{
    background-color: var(--main-color);
}

@media (max-width:767px){
    .landing {
        background-position: 50% 150px;
    }
    .landing  .text {
        width: 100%;
        padding: 10px;
        text-align: center;
        align-items: center;
    }
    .landing .change-background:first-of-type {
    left: 5px;
    
}
.landing .change-background:last-of-type {
        right: 5px;
    
    
    }
}

/* end of landing */
 

/* start of services */
.services {
    margin-bottom: 10px;
}
.services .services-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr)) ;
    gap: 10px;
}
.services .services-container .col .serv {
    display: flex;
    flex-flow: row;
}
.services .services-container .col .serv i{
    width: 50px;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 50px;
    
}
.services .services-container .col .serv .text{
    flex: 1;
}
.services .services-container .col .serv .text h3 {
    font-size: 25px;
    font-weight: 300;
    color: var(--main-color);
    text-transform: capitalize;
}
.services .services-container .col .serv .text p {
    letter-spacing: -1px;
    word-spacing: 1px;
    line-height: 1.8;
    font-size: 15px;
    margin-top: -5px;
}
@media (max-width:767px) {
    .services .services-container .col .serv {
        flex-flow: column;
        align-items: center;
    }
    .services .services-container .col .serv .text {
        text-align: center;
    }
    .services .services-container .col .serv i{
        margin: 20px 0px 0px 0px ;
    }
    
    
}
/* end of services */
/* start of pros */
.pros {
    background-color: black;
    background-image: url("../images/elzero/design-features.jpg");
    position: relative;
    background-size: cover;
    min-height: 500px;
    /* to add the lower bound to your section */
    background-repeat: no-repeat;
    background-position: 0px ;
    z-index: -5;
    overflow: hidden;
}
@media (max-width:767px){
    .pros {
        background-position: -120px 0;
    }

}
.pros .pros-main-container {
    display: flex;
    justify-content:center;
}
.pros .pros-main-container .image {
    position: relative;
    right: 200px;
    top: 180px;
}

.pros .text {
    color: white;
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
.pros .text .content {
    width: 70%;
    padding: 10px;
    /* background-color: green; */
}

.pros .text .content h3 {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
    padding: 10px;
}
.pros .text .content .pros-container {
    display: flex;
    justify-content: flex-start;
}
.pros .text .content .pros-container .col i {
    margin: 10px;
}
.pros .text .content .pros-container .col p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media (max-width:767px) {
    .pros .text {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .pros .text .content{
        width: 100%;
        padding: 0px;
    }
    .pros .text .content h3{
        text-align: cn;
    }
    .pros .text .content .pros-container {
        justify-content: center;
    }
    .pros-main-container .image {
        display: none;
    }
}
/* end of pros */
/* start of portfolio */

.portfolio-container ul {
    display: flex;
    justify-content: center;
}
.portfolio-container ul li {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-container ul li a {
    flex:1;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}
.portfolio-container ul li a.active,
.portfolio-container ul li:hover a{
    color: white;
    background-color: var(--main-color);
    
}
@media (max-width:767px) {
    .portfolio-container ul {
        margin: 0px;
        padding: 0px;
    }
    .portfolio-container ul li {
        margin: 2px;
    }

    
}
/* start of shuffle */
.shuffle-container {
    margin: 5px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2px;
    justify-content: center;
    overflow: hidden;
    
}
.shuffle-container .col .serv .image  {
position: relative;
}
.shuffle-container .col .serv .image img {
    width: 100%;
    height: 100%;
}

.shuffle-container .col {
    perspective: 300px;
}
.shuffle-container .col .serv {
    background-color: #333;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    min-height: 300px;
}
.shuffle-container .col .serv:hover {
    transform: translateZ(10px);
    position: relative;
    z-index: 5;
}
.shuffle-container .col .serv h2 {
    font-weight: normal;
    font-size: 32px;
    text-indent: 10px;
    color: white;
}
.shuffle-container .col .serv p {
    text-indent: 10px;
    color: var(--main-color);
}
.shuffle-container .col .serv .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.647);
    transition: 0.3s;
}
.shuffle-container .col .serv:hover .overlay {
    background-color: transparent;
}
.shuffle-container .col .serv:hover .overlay::after{
    font-family: "Font Awesome 5 Free";
    content: "\2b";
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
}
.shuffle-container .col .serv:hover .overlay::before{
    content: "";
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--main-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
@media (max-width:767px) {
    .shuffle-container .col .serv:hover .overlay::after{
        font-family: "Font Awesome 5 Free";
        content: "\2b";
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        color: white;
    }
    
.shuffle-container .col .serv:hover .overlay::before{
        content: "";
        position: absolute;
        font-size: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: var(--main-color);
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
.shuffle-container .col .serv {
        text-align: center;
        padding-bottom: 10px;
    }
    
}
.portfolio .more {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.portfolio .more a {
    margin: 30px;
    display: block;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px 5px black ;
    
}
/* end of shuffle */
/* end of portfolio */
/* start of video */
.video {
    width: 100vw;
    position: relative;
    z-index: 0;
    
}
.video video {
    width: 100vw;
}
.video .text {
    width: 100%;
    background-color: var(--transparent-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    min-height: 250px;
}
.video .text .content {
    color: white;
    text-align: center;
}
.video .text .content h2{
    font-weight: normal;
    font-size: 50px;
    letter-spacing: -5px;
    word-spacing: 5px;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}
.video .text .content .see-more {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 6px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    font-size: 32px;
    padding: 10px;
    letter-spacing: -2px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}
@media (max-width:767px) {
    
    .video .text {
        top: calc(100% - 5px);
        transform: translateY(0%);
        margin-top: 0px;
        font-size: 10px;
        margin-bottom: 30px;
    }
    .video {
        margin-bottom: 0px;
    }
  
    .video .text .container h2 {
        font-size: 10px;
        letter-spacing: 0px;
        word-spacing: 0px;

    }
 }
/* end of video */

/* start of about*/

.about .image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.about .image img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}
.about-container {
    background-color: black;
    background-image: url("../images/owl-g6ab2f158a_1920.jpg");
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: 0px -300px;
    background-repeat: no-repeat;
    filter: grayscale(.3);
    position: relative;
}
@media (max-width:767px) {
    .about .main-header {
        margin-top: 300px;
        margin-bottom: -60px;
    }
    .about .image img {
        width: 100%;
        top: 50%;
    }
    .about-container {
        background-position: -150px 0px;
    }
}

.about-container .container  {
    display: flex;
    justify-content: space-between;
    min-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--transparent-color);
}
@media (max-width:767px) {
    .about-container .container {
    flex-flow: column;
    }
    .about-container .container .col {
        max-height: 125px;
        line-height: .05;
        border-bottom: 1px solid white;

    }
    .about-container {
        max-height: 100%;
    }
}
.about-container .container  .col{
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 6px;
    color: white;
}
.about-container .container  .col h1{
    font-weight: 800;
}
/* end of about*/
/* start of testimoials */
.test .container {
    display: flex;
    justify-content: space-between;
}
.test .container .col {
    flex: 1;
}
.test .container .col:first-child h1 ,
.test .container .col:last-child h1 {
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: relative;
}
.test .container .col:first-child h1::after,
.test .container .col:last-child h1::after {
    content: "";
    width: 50%;
    height: .5px;
    background-color: black;
    border-radius: 6px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateX(50%);

}
.test .container .col:first-child > p ,
.test .container .col:last-child > p {
        padding: 29px 9px;
        font-weight: 300;
        letter-spacing: -.5px;
        word-spacing: 0.5px;
        color: black;
        text-align: center;

}
.test .container .col:first-child .test-container {
    display: flex;
    flex-flow: column;
}
.test .container .col:first-child .test-container .test-col {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 50px 0px;
}
.test .container .col:first-child .test-container .test-col .image {
    width: 80px;
    height: 80px ;
    border-radius: 50%;
    background-color: black;
    background-size: cover;
    margin: 10px;
}
.test .container .col:first-child .test-container .test-col p {
    flex: 1;
    padding: 10px 10px;
    margin: 10px;
    letter-spacing: -0.5px;
    word-spacing: 1px;
    font-weight: 10;
    line-height: 1.5;
}
.test .container .col:first-child .test-container .test-col:first-child p {
    position: relative;
}
.test .container .col:first-child .test-container .test-col:first-child p::after {
content: "";
position: absolute;
width: 75%;
bottom: -30px;
left: 50%;
transform: translateX(-50%);
height: 1px;
background-color: black;
}
.test .container .col:first-child .test-container .test-col:first-child .image {
    background-image: url("../images/elzero/skills-01.jpg");

}
.test .container .col:first-child .test-container .test-col:last-child .image {
    background-image: url("../images/elzero/skills-02.jpg");

}
@media (max-width:767px) {
    .test .container .col:first-child .test-container .test-col {
        flex-direction: column;
        margin: 20px 0px ;
    }
    .test .container .col:first-child .test-container .test-col .image {
        margin-right: auto;
        margin-left: auto;
    }
    .test .container .col:first-child .test-container .test-col p {
        text-align: center;
    }
    .test .container .col:first-child .test-container .test-col:first-child  {
        border-top: 1px solid black;
    }
    .test .container .col:first-child .test-container .test-col:last-child  {
        border-bottom: 1px solid black;
    }
    .test .container  {
        flex-flow: column ;
    }
}



.test .container .col:last-child .skill-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
 
}
.test .container .col:last-child .skill-container .skill-col {
    width: 100%;
    height: calc(96% / 4);
    margin: 10px 0px 0 0;
}
.test .container .col:last-child .skill-container .skill-col p {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: -5px;

}
.test .container .col:last-child .skill-container .skill-col > div {
    height: 30px;
    width: 85%;
    background-color: #eee;
    margin: 10px 0px ;
    position: relative;
    
}
.test .container .col:last-child .skill-container .skill-col > .adobe{
    transition: 0.3s;
}
.test .container .col:last-child .skill-container .skill-col > .adobe::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 10%;
}
.test .container .col:last-child .skill-container .skill-col > .adobe::before {
    content: "95%";
    position: absolute;
width: fit-content;
height: fit-content;
color: white;
font-weight: normal;
font-size:  10px;
padding: 10px;
border-radius: 3px;
top: calc(-100% - 10px);
background-color: black;
right: 10%;
transform: translateX(50%);
}
.test .container .col:last-child .skill-container .skill-col > .html-css::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 14%;
}
.test .container .col:last-child .skill-container .skill-col > .html-css::before {
content: "93%";
position: absolute;
width: fit-content;
height: fit-content;
color: white;
font-weight: normal;
font-size:  10px;
padding: 10px;
border-radius: 3px;
top: calc(-100% - 10px);
background-color: black;
right: 14%;
transform: translateX(50%);


}
.test .container .col:last-child .skill-container .skill-col > .javascript::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 30%;
}
.test .container .col:last-child .skill-container .skill-col > .javascript::before {
content: "85%";
position: absolute;
width: fit-content;
height: fit-content;
color: white;
font-weight: normal;
font-size:  10px;
padding: 10px;
border-radius: 3px;
top: calc(-100% - 10px);
background-color: black;
right: 30%;
transform: translateX(50%);
}
.test .container .col:last-child .skill-container .skill-col > .php::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 26%;
}
.test .container .col:last-child .skill-container .skill-col > .php::before {
    content: "87%";
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    font-weight: normal;
    font-size:  10px;
    padding: 10px;
    border-radius: 3px;
    top: calc(-100% - 10px);
    background-color: black;
    right: 26%;
    transform: translateX(50%);
}
@media (max-width:767px){
    .test .container .col:last-child .skill-container .skill-col p {
        text-align: center;
    }
    .test .container .col:last-child .skill-container .skill-col div {
        margin-right: auto;
        margin-left: auto;
    }
}
/* end of testimoials */
/* start of john doe quote */
.quote .quote-bg {
    background-color: black;
    width: 100%;
    min-height: 250px;
    background-image: url(../images/elzero/landing.jpg) ;
    background-position: 0px -80px;
    filter: grayscale(0.1);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.quote .quote-bg .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    min-height: 50%;
    background-color: var(--transparent-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote .quote-bg .text .content {
    width: 50%;
  
    
}
.quote .quote-bg .text .content p{
    color: white;
    letter-spacing: -0.5px;
    word-spacing: 1px;
    font-weight: 800;
    padding: 10px;
}
.quote .quote-bg .text .content h6 {
    color: black;
    font-size: 15px;
    margin-top: -10px;
}
@media (max-width:767px){
    .quote .quote-bg {
        background-position: 0 0;
    }
    .quote .quote-bg .text .content {
        width: 100%;
    }   
}
/* end of john doe quote */
/* start of pricing */

.pricing .container .pricing-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pricing .container .pricing-container .package {
    width: calc(96% / 4);
    text-align: center;
}
.pricing .container .pricing-container .package .package-container {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .container .pricing-container .package .package-container .main-price {
    text-transform: uppercase;
    line-height: 1.8;
    font-weight: normal;
    font-size: 15px;
    border-bottom: 1px solid var(--main-color);
    border-radius: 0.5px;
}
.pricing .container .pricing-container .package .package-container .main-price p > span {
    font-size: 50px;
    position: relative;
}
.pricing .container .pricing-container .package .package-container .main-price p > span::before {
    content: "$";
    position: absolute;
    top: 0;
    font-size: initial;
    left: -20px;
}
.pricing .container .pricing-container .package .package-container .feat {
    width: 50%;
    font-size: 10px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid var(--main-color);
    padding: 30px;
    text-transform: capitalize;

    
    
}
.pricing .container .pricing-container .package .package-container .feat:last-child {
    border-bottom: none;
}
.pricing .container .pricing-container .package .buy {
    padding: 10px;
    margin-top: 20px;
}
.pricing .container .pricing-container .package .buy:hover {
    background-color: var(--main-color);
    border-radius: 6px;
}
@media (max-width:767px) {
    .pricing .container .pricing-container .package {
        width: 100%;
    }
    .pricing .container .pricing-container .package  {
        /* border-bottom: black solid 1px; */
        margin-top: 10px;
        background-color: #eee;
        border-radius: 6px;
        
    }
    .pricing .container .pricing-container .package .buy {
    padding: 10px;
    margin-top: 0px;
    }
}
.pricing .container .contact {
    text-align: center;
    line-height: 1.8;
    padding: 10px;
    margin: 10px 0px;
    
}
.pricing .container .contact >p {
    font-weight: 100;
    letter-spacing: -1px;
    word-spacing: 1px;
    
}
.pricing .container .contact > button  {
    background-color: var(--main-color);
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
}
.pricing .container .contact > button > a {
    display: block;
    color: white;
    font-weight: 100;
    letter-spacing: -1px;
    word-spacing: 1px;
}

/* end of pricing */

/* start of mail */
.mail {
    width: 100%;
    min-height: 250px;
    background-color: black;
    background-image: url(../images/elzero/subscribe.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

}
.mail .overlay {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.647);
    z-index: 0;

}

.mail .container {
    height: 100%;
    
    background-color: red;

} 
.mail .container .mail-container {
    display: flex;
    align-items: center;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    min-height: 50%;
    justify-content: center;
}
.mail .container .mail-container div {
    flex: 1;
}
.mail .container .mail-container .p > p {
    color: white;
    padding: 0px 0px;
    line-height: 1.8;
    margin-right: -60px;
    width: 100%;
    
}
.mail .container .mail-container div > input[type*="email"] {
    width: 70%;
    margin-right: 0px;
    height: 50px;
    padding: 10px;
    color: black;
    border-radius: 6px;
    outline: none;
border: none;
}
.mail .container .mail-container div > input[type*="email"]::placeholder {
    font-weight: 500;
    text-transform: capitalize;
}

.mail .container .mail-container div > input[type="submit"]{
    margin-left: 0px;
    height: 50px;
    width: 25%;
    background-color: var(--main-color);
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    
}

@media (max-width:767px) {
    .mail .container .mail-container {
        flex-direction: column;
    }
    .mail .container .mail-container div > input[type="submit"]{
        font-size: 10px;
    }
    .mail .container .mail-container .p {
        text-align: center;
    }
    
}
/* end of mail */

/* start of contact us */
.contact-us .message {
    /* background-color: green; */
    width: 70%;
}
.contact-us .message input{
    width: 100%;
    margin: 10px 0px;
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
}
.contact-us .message input[type="text"],
.contact-us .message input[type="email"]{
    padding: 10px;
    position: relative;
    
}
.contact-us .message textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 150px;
    min-height: 150px;
    padding: 10px;
    resize: none;
    outline: none;
    border: .02px solid var(--secondary-color);
    border-radius: 2px;
 }

.contact-us .message input[type="submit"] { 
    width: fit-content;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    background-color: var(--main-color);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 50px;
}
.contact-us .message .username ,
.contact-us .message .usermail ,
.contact-us .message  .your-message {
    position: relative;
}

.contact-us .message .username::before {
    content: "GET IN TOUCH";
    position: absolute;
    right: -130px;
    transform: translateX(-50%);
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: -1px;
    word-spacing: 5px;
    top: 0px;
}
.contact-us .message .username::after {
    content: "+00'123,456,789";
    position: absolute;
    right: -130px;
    bottom: 10px;
    font-weight: 100;
    transform: translateX(-50%);
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: -1px;
    word-spacing: 5px;
}
.contact-us .message .usermail::after {
    content: "+00'123,456,789";
    position: absolute;
    right: -130px;
    top: 0px;
    font-weight: 100;
    transform: translateX(-50%);
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: -1px;
    word-spacing: 5px;
}

.contact-us .message  .your-message::before {
    content: "where we are";
    position: absolute;
    right: -130px;
    transform: translateX(-50%);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 2px;
    top: 0px;
}

.contact-us .message  .your-message::after {
    content: attr(your-address);
    position: absolute;
    right: -130px;
    transform: translateX(-50%);
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: -1px;
    word-spacing: 2px;
    top: 60px;
    width: 70px;
    text-align: center;
    font-weight: 100;

}


@media (max-width:767px){

}
/* end of contact us */















/* strat of footer  */
.footer {
    background-color: var(--secondary-color);
    
}
.footer .container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: calc(100% + 60px);
}
.footer .container .image {
    width: 100%;
    height: 120px;
    position: relative;
    
}
.footer .container .image img {
    position: absolute;
    width: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.footer .container .text {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    letter-spacing: -.5px;
    word-spacing: 2px;
}
.footer .container .text p {
    margin-bottom: 10px;
}
.footer .container .text hr {
    width: 25%;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.footer .container .text .icons {
    margin-top: 10px;
}
.footer .container .copyrights {
    text-align: center;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .container .copyrights > span {
    color: var(--main-color);
}
/* end of footer  */



